@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  .section-min-height {
      min-height: calc(100vh - 5.5rem);
  }

  .toggle-btn {
      @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg]
  }

  .text-outlined {
    -webkit-text-stroke-color: #3f0791;
    -webkit-text-stroke-width: 1px;
  }
  .text-outlined1-5 {
    -webkit-text-stroke-color: #3f0791;
    -webkit-text-stroke-width: 1px;
  }
  .text-outlined2 {
    -webkit-text-stroke-color: #3f0791;
    -webkit-text-stroke-width: 2px;
  }
  .text-xxs {
      font-size: 0.75rem; /* 8px */
      line-height: 0.75rem /* 12px */
  }
}
